footer{
    position: fixed;
    bottom: 10;
    width: 95%;
    margin: 0 2.5%;
    background-color: #85120B;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    border-radius: 5px;
}
.aba{
    text-decoration: none;
    color: white;
    font-family: 'Sarabun';
}
.selected {
    background-color: #9a3a34;
    padding: 1.4%;
    border-radius: 5px;
}
.active {
    background-color: #9A3A34;
    padding: 5px;
    border-radius: 5px;
    /* Outros estilos que você deseja aplicar quando o link estiver ativo */
}
