.recomendados-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3vh 0;
}

.recomendados-line {
    color: #888;
    letter-spacing: -2;
    -webkit-user-select: none;
    user-select: none;
}

#recomendados {
    padding: 0 10px;
    font-family: "Sarabun";
    font-weight: 400;
    color: #85120B;
    font-size: 4vw;
}