@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
#lista-fundo{
    padding: 10px 30px;
    list-style: none;
    background-color: #85120B;
    display: flex;
    justify-content: space-between;
    gap: 45%;
}
#ajuda-fundo a{
    font-family: 'Noto Serif';
    font-weight: 300;
    font-size: 15px;
    text-decoration: none;
    color: white;
}
#ajuda-fundo{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgba(255, 255, 255, 17%);
    border-radius: 10px;
    padding: 1px 20px;
}