#linha-1 {
    display: flex;
    gap: 0% 60%; /* Usando porcentagem para espaço entre os elementos */
    font-family: 'Sarabun';   
    align-items: center;
}

#linha-1 > p:nth-child(2) {
    font-size: 0.8em; /* Usando unidades relativas para o tamanho da fonte */
    color: red;
    display: flex;
    align-items: center;
    margin-bottom: 0; /* Remover margem inferior padrão */
}

#linha-1 > p:nth-child(1) {
    font-weight: 600;
    font-size: 1.2em; /* Usando unidades relativas para o tamanho da fonte */
}

/* Estilos para #item-geral */
#item-geral {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: flex-start;
}

#desc-item {
    font-size: 0.8em; /* Usando unidades relativas para o tamanho da fonte */
    font-family: 'Sarabun';
    width: 90%; 
}

#item-img {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap; /* Permite que os itens sejam flexíveis em várias linhas */
}

#item-img > div {
    color: white;
    font-family: 'Sarabun';
    background-color: #FEE14A;
    height: 1.4em; /* Usando unidades relativas para altura */
    min-width: 3.3em; /* Usando unidades relativas para largura mínima */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 0.5em; /* Adapte as margens conforme necessário */
    border-radius: 5px;
}