#linha-1 {
    display: flex;
    gap: 0% 60%; /* Usando porcentagem para espaço entre os elementos */
    font-family: 'Sarabun';   
    align-items: center;
}

#preco{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 0.8em; /* Usando unidades relativas para o tamanho da fonte */
    color: #85120B;
    display: flex;
    align-items: center;
}

#linha-1 > p:nth-child(1) {
    font-weight: 500;
    font-size: 1.2em; /* Usando unidades relativas para o tamanho da fonte */
}

/* Estilos para #item-geral */
#item-geral {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: flex-start;
    width: 40vw;
    flex-wrap: wrap;
}

#desc-item {
    font-size: 0.68em; /* Usando unidades relativas para o tamanho da fonte */
    font-family: 'Sarabun';
}
#item-geral>img{
    width: 100%;
    height: 12.5vh;
    object-fit: cover;
    border-radius: 5px;
}
#item-geral>button{
    margin-top: 0.5vh;
    border: none;
    background-color: #FEE14A;
    border-radius: 5px;
    width: 100%;
    padding: 3% 5%;
}

.alert-success{
    font-family: 'Poppins';
    position: absolute;
}

.mensagem-alerta {
    z-index: 2025;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #ffffff;
    color: #181818;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    font-family: 'Sarabun';
    border-radius: 5px;
    animation: slideInFadeOut 3s ease forwards; 
    z-index: 2025;
}

@keyframes slideInFadeOut {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    10% {
        transform: translateX(0);
        opacity: 1;
    }
    90% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}