#fundo-categoria{
    margin: 20px 0;
    display: flex;
    gap: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #FAFAFA;
    border-radius: 10px;
    height: 9vw;
    width: 40vw;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.288);
    transition: 0.5s;
}
#fundo-categoria>a{
    font-size: 1.8vh;
    text-decoration: none;
    color: black;
    font-family: 'Sarabun';
    font-weight: 500;
}

#fundo-categoria:hover{
    background-color: rgb(245, 245, 245);
    transition: 0.5s;
    transform: scale(1.1);
}
