#div-item2{
    margin:  2.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#deitado-flex{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 4%;
    font-family: 'Sarabun';
}
#flex-preco{
    display: flex;
    justify-content: space-between;
}
#nome-item2{
    font-size: 130%;
}
#desc-item2{
    color: #414141;
    padding: 5px 0;
    font-size: 70%;
}
#info-item2{
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#flex-preco>button{
    background-color: #FEE14A;
    border: none;
    border-radius: 3px;
    color: black;
    padding: 0 15px;
}
#flex-preco>p{
    font-size: 14px;
}