/* Global Styles */
body {
  overflow-x: hidden;
}

/* General Styles for Flex Containers */
.categorias-juntas,
.categorias-juntas2 {
  display: flex;
  margin: 1.5vh;
  justify-content: space-around;
}

/* Styles for hr */
hr {
  margin: 0 50px;
  background-color: #838383;
}

/* Link Styles */
.categorias-juntas2 > a {
  color: black;
  text-decoration: none;
}

/* Responsive Styles */
.msgmaxwidth {
  display: none;
}

@media (min-width: 767px) {
  .conteudotodo {
    display: none;
  }
  .msgmaxwidth {
    display: flex; /* Mover display: flex aqui para reduzir redundância */
    text-align: center;
    align-items: center;
    height: 100%;
    font-family: "Sarabun";
    color: #85120b;
    font-weight: 800;
    justify-content: center;
  }
}
