body {
    overflow-x: hidden;
}
.categorias-juntas {
    display: flex;
    justify-content: space-around;
}
hr{
    margin: 0px 50px;
    background-color: #838383;
}
.categorias-juntas2{
    margin: 0;
    margin-left: 8%;
    display: flex;
    justify-content: center;
}
.categorias-juntas2>a{
    color: black;
    text-decoration: none;
}